{{ $baseurl := .Site.BaseURL }}
<article id="li-art">
  <header id="bh">
    <h2><a href="{{ .Permalink }}"  class="blog-header"  >{{ .Title }}</a></h2>
    <div class="post-meta clearfix">
      <div class="post-date pull-left">
        Posted on
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
      </div>
      <div class="pull-right">
        {{ range .Params.tags }}
        <span class="post-tag"><a href="{{ $baseurl }}/tags/{{ . | urlize }}">#{{ . }}</a></span>
        {{ end }}
        {{ range .Params.categories}}
        <span class="post-tag"><a href="{{ $baseurl }}/categories/{{ . | urlize }}">#{{ . }}</a></span>
        {{ end }}
      </div>
    </div>
  </header>
  <div class = "blog-summary">
    {{ .Summary }}
  </div>
  {{ if .Truncated }}
  <footer>
    <ul class="pager">
      <li class="next"><a href="{{ .Permalink }}">Continue Reading <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </footer>
  {{ end }}
</article>
